<section class="footer">
    <h2 class="visually-hidden">Footer</h2>
    <div class="container">
        <div class="footer-container">

            <div>
                <ul>
                    <li>Довідка для покупців</li>
                    <li>Отримати підтримку</li>
                    <li>Як купувати</li>
                    <li>Як залишити корисний відгук</li>
                    <li>Програма Захисту Покупців</li>
                    <li>Рекомендації з безпечних покупок</li>
                </ul>
            </div>


            <div>
                <ul>
                    <li>Довідка для покупців</li>
                    <li>Отримати підтримку</li>
                    <li>Як купувати</li>
                    <li>Як залишити корисний відгук</li>
                    <li>Програма Захисту Покупців</li>
                    <li>Рекомендації з безпечних покупок</li>
                </ul>
            </div>


            <div>
                <ul>
                    <li>Про нас</li>
                    <li>Довідка та FAQ</li>
                    <li>Захист легальності контенту</li>
                    <li>Адміністрація</li>
                    <li>Вакансії</li>
                </ul>
            </div>


            <div>
                <ul>
                    <li>Мобільний додаток</li>
                    <li>завантажити з</li>
                </ul>
            </div>

        </div>


        <hr>

        <p>© 2022 Monvalise</p>

    </div>
</section>