<section>
    <div class="container">

        <div class="header">
            <p class="header_title">Брендовий верхній одяг від 899 грн</p>
        </div>

        <div class="header__query">
            <div class="header__input__box">
                <form class="search-form">
                    <input placeholder="Знайти речі або бренди " />
                    <!-- <svg>
                        <use href=""></use>
                    </svg> -->

                </form>

            </div>

        </div>


        <hr>

        <nav>
            <a class="header__link " href="">Головна</a>
            <a class="header__link " href="">Каталог</a>
            <a class="header__link " href="">Жінкам</a>
            <a class="header__link " href="">Чоловікам</a>
            <a class="header__link " href="">Дитячі речі</a>
            <a class="header__link " href="">Аукціон</a>
            <a class="header__link " href="">Бренди</a>
            <a class="header__link " href="">Акції</a>
            <a class="header__link " href="">Аутентифікація</a>
            <a class="header__link " href="">Блог</a>
        </nav>
        <hr>

    </div>
</section>